# Pyhon ka chilla with baba_Aammar

## How to use jupyter notebook

### Basics of Pyhton

**01_first_program**

In [1]:
print(2+3)
print("Hello world")
print("We are learning python with aammar")

5
Hello world
We are learning python with aammar

**02_oerators**

In [2]:
print(4+3)
print(4-2)
print(6/2)
print(6*5)
print(13%12)
print(56//23)

print(3**2/2*3/3+6-4)

# PEMDAS
# Parenthesis Exponents Multiply Divide Addition Substraction
# left to right for M D & A S

7
2
3.0
30
1
2
6.5

**03_comments**

In [3]:
print("How are you") #press these button to comment out/in ctrl + /
print("we are learning python with aamaar") #print string
print(2+6) #print operators function with numbers

How are you
we are learning python with aamaar
8

**04_strings**

In [4]:
print("Hello world")
print("We are learning python with aammar")
print('Test for single quotes')
print("test for double quotes")
print(''' test for tripple quotes''')

Hello world
We are learning python with aammar
Test for single quotes
test for double quotes
 test for tripple quotes

**05_variables**

In [5]:
#Variables: objects containing specific values
from tkinter import Variable


x = 5 # numeric or integer variable
print(x)

y = "We are learing python with Aammar" #string value
print(y)

x = x + 10 # or x = 15
print(x)

# types of Variable
type(x)
print(type(x))

print(type(y))

#Rules to assign a variable
# 1- The variabl should contain letters, number or underscores
# 2- Do not start 
# 3- Spaces are not allowed
# 4- Do not use keywords used in function(breake, mean, media, etc)
# 5- short and descriptive
# 6- Case sensitivity (Lowercase, uppercase letters lower case letter should be used)

fruit_basket = 8
fruit_basket = "Mangoes"
print(type(fruit_basket))
print(fruit_basket)

5
We are learing python with Aammar
15
<class 'int'>
<class 'str'>
<class 'str'>
Mangoes

**06_input_variables**

In [6]:
# fruit_basket = "Mangoes" 
# print(fruit_basket)

# input function simple
# fruit_basket = input("what is yout favourite fruit? ")
# print(fruit_basket)

#input function of 2nd name?
# name = input("What is your name? ")
# greetings = "Hello!"
# print(greetings, name)

#another way of stage 2 input fucntion
# name = input("What is your name? ")
# print("Hello!", name)

#3rd stage of input function
name = input("what is your name? ")
age = input("How old are you")
greetings = "Hello!"

print(greetings, name, ", you ara still young")

what is your name? Bilal
How old are you25
Hello! Bilal , you ara still young

**07_condtional_logics**

In [7]:
# Logical operators are either true or false or yes or no or 0 or 1
# equal to                          ==
# not equal                         !=
# less than                         <
# greater than                      >
# less than and equal to            <=
# greater than and equal to         >=

#is 4 equal to 4
print(4==4)
print(4!=4)
print(4>3)
print(3>6)
print(3<=5)
print(5>=4)

#application of logical operators
hammad_age = 4
age_at_school = 5
print(hammad_age==age_at_school)

#input function and logical
age_at_school = 5
hammad_age = input("How old is Hammad? ") #input function
hammad_age = int(hammad_age)
print(hammad_age==age_at_school) #logical operator

True
False
True
False
True
True
False
How old is Hammad? 4
False

**08_type_conversion**

In [8]:
x = 10              #integer
y = 10.2            #float    
z = "Hello"         #string

#implicit type conversion
x = x+y
print(x,"Type of is x: ", type(x))

#explicit type coversion

age = input("what is your age? ")
age = int(age)
print(age, type(age))

#name
name = input("what is your name? ")
print(name, type(name))

20.2 Type of is x:  <class 'float'>
what is your age? 25
25 <class 'int'>
what is your name? Bilal
Bilal <class 'str'>

**09_if_else_elif**

In [9]:
required_age_at_school = 5
hammad_age = 10

#question: can hammad go to school

if hammad_age == required_age_at_school:
    print("Congratulation! Hammad can join the school")
elif hammad_age > required_age_at_school:
    print("Hammad should join higher secondary school")    
elif hammad_age <= 2:
    print("You should take care of Hammad, he is still a baby!")    
else:
    print("Hammad can not go to school")

Hammad should join higher secondary school

**10_functions**

In [10]:
# defining a function
# # 1
# def print_codanics():
#     print("We are learning with Aammar")
#     print("We are learning with Aammar")
#     print("We are learning with Aammar")

# print_codanics()

# # 2
# def print_codanics():
#     text = "We are learning with Aammar in codanics youtube channel" 
#     print(text)
#     print(text)
#     print(text)

# print_codanics()

# # 3
# def print_codanics(text):
#     print(text)
#     print(text)
#     print(text)

# print_codanics("We are learning python with Aammar in codanics youtube channel")

# defining a function with if, elif and else statements

# def school_calculator(age):
#     if age == 5:
#          print("Hammad can join the school")
#     elif age>5:
#          print("Hammad should go to higher school")
#     else:
#         print("Hammad is still a baby")

# school_calculator(10)

#defining a function of future

def future_age(age):
    new_age = age + 20
    return new_age
    print(new_age)

future_pridicted_age = future_age(10)
print(future_pridicted_age)

30

**11_loops**

In [11]:
#while and for loops

#while loops

# x = 0
# while x < 10:
#     print(x)
#     x = x + 1

#for loop

# for x in range(1,10):
#     print(x)


# array
days = ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"]

for d in days:
    # if (d=="Fri"):break #loop stop before "Fri"
    if (d=="Fri"):continue #loop skip the "Fri" value
    print(d)

Mon
Tue
Wed
Thu
Sat
Sun

**12_import_librarires**

In [12]:
#if you want to print the value of pi

import math
print("The value of pi is ", math.pi)

import statistics 

x = [150,250,350,450]

print(statistics.mean(x))

#numpy, pandas etc

The value of pi is  3.141592653589793
300

**13_troulbe_shooting**

In [13]:
#print(we are learning with Aammar) syntax error
#print(25/0) runtime error